.Menu ul, .Menu li {margin:0;padding:0;list-style:none;}
.MenuTitle{text-align:center;margin-top:10px;padding-top:7px;font-weight:bold;font-size:12px;color:white;height:30px;width:100%;background:url("img/menu_title3.png") no-repeat scroll center top transparent;}

